apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashy
  namespace: dashy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashy
  template:
    metadata:
      labels:
        app: dashy
    spec:
      containers:
        - env:
            - name: NODE_ENV
              value: production
          image: lissy93/dashy@sha256:c994b83a2e7d8058ed5cdc5f746367f7023aae278c9a545b2053235bb61396ec
          name: dashy
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - mountPath: /app/user-data
              name: config
              readOnly: true
      volumes:
        - configMap:
            name: dashy-config
          name: config
